.btn {
    display: inline-block;
    border-radius: 50px;
    padding: 12px 40px;
    background: linear-gradient(to right, rgba(89,169,131,1) 0%,rgba(90,169,131,0.8) 100%);
    font-size: 18px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    &.block {
        display: block;
    }

    &.empty {
        background: transparent;
        border: 1px solid #fff;
    }

    &.white {
        border-color: #fff;
    }

    &.gray {
        color: #595959;
        border-color: #afb1b3;
    }

}