// Graphik
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Light.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-RegularItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik/Graphik-Super.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Bold.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Extralight.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Thin.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik/Graphik-SuperItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-ThinItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-LightItalic.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Raleway
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Heavy.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

