body {
    font-family: 'Graphik';
    font-size: 18px;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.page-wrapper {
    height: 100%;
    overflow: hidden;
}

.page-header {
    min-height: 864px;
    background: url(../images/asset-desktop/banner.jpg) 0 0 no-repeat;
    background-size: cover;

    .logo {
        float: left;

        a {
            display: inline-block;
            width: 191px;
            height: 46px;
            float: left;
            background: url(../images/plug-and-play-logo-white.svg) 0 0 no-repeat;
            background-size: cover;
        }
    }

    nav {
        float: right;
        text-align: right;

        .header-link {
            text-decoration: none;
            margin: 0 20px;

            .ion {
                margin-right: 8px;
            }
        }
    }
}

.search-wrapper {
    padding: 55px 10px;
    border-top: 5px solid #79B993;
    background-color: #fff;

    .btn {
        font-size: 38px;
        line-height: 22px;
        font-weight: 300;
        padding: 30px;
        text-decoration: none;

        .ion {
            margin-right: 30px;
        }
    }
}

.hero {
    max-width: 70%;
    margin-top: 284px;
    padding: 0 93px;

    h1 {
        font-size: 5.568vw;
        line-height: 1.1;
        color: #fff;
        font-weight: 300;
        margin: 0.7em 0;
    }
    p {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

.container  {
    padding: 0 35px;
}

.mp-menu {
    display: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}