@media (max-width: 768px) {
    .page-header {
        position: relative;
        min-height: 884px;
        height: 100%;
        background: url(../images/asset-mobile/banner_mobile.jpg) 0 0 no-repeat;
        background-size: cover;

        .logo a {
            background-image: url(../images/plug-and-play-logo-green.svg);
        }
    }
    .desktop-nav {
        display: none;
    }
    .hero {
        max-width: 100%;
        margin-top: 200px;
        padding: 0 30px;

        h1 {
            font-size: 11.7vw;
        }
    }
    .mp-menu {
        display: block;
    }

    .nav-wrapper {
        position: relative;
        height: 95px;
        background-color: #fbfbfb;
    }

    .search-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255,.7);
        padding: 20px 0;

        .btn {
            padding: 24px 30px;
            font-size: 34px;
        }
    }
}