*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .page-container, .scroller {
	height: 100%;
}

.scroller {
	overflow-y: scroll;
}

.scroller,
.scroller-inner {
	position: relative;
}

.page-container {
	position: relative;
	overflow: hidden;
}

.menu-trigger {
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
    font-size: 60px;
    line-height: 60px;
    min-width: 40px;
    color: #3b454b;
    text-align: center;
}

.mp-pusher {
	position: relative;
	right: 0;
	height: 100%;
}

.mp-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	right: 0;
	z-index: 1;
	width: 500px;
	height: 100%;
	transform: translate3d(100%, 0, 0);
}

.mp-level {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #eaeaea;
	transform: translate3d(100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
	background: rgba(0,0,0,0.3);
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
	z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
	cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level {
	transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
	transform: translate3d(100%, 0, 0);
}

/* content style */
.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
}

.mp-menu h2 {
	position: relative;
	margin: 0;
    font-size: 32px;
    text-align: center;
    color: #3C464B;
    background-color: #f7f7f7;
    font-weight: 500;
    padding: 29px;
}
.mp-menu .ion {
	color: #5aaa83;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
	margin: 0;
   	font-size: 32px;
    text-align: center;
    color: #3C464B;
    background-color: #f7f7f7;
    font-weight: 500;
    padding: 29px;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
	opacity: 1;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(0);
}

.mp-menu div[data-level="1"] {

	& > ul > li {
		padding-left: 120px;

		& > a {
			padding: 50px 0px;

			&:after {
				content: '\f3d3';
				font-family: "Ionicons";
				display: inline-block;
				float: right;
				color: #c7c7cb;
				font-size: 34px;
    			margin: 10px 30px 0 0;
			}

			.ion {
				position: relative;
			    left: -68px;
			    top: 8px;
				opacity: 1;
				transition: all 0.3s;
			}
		}
	}

	&.mp-level-overlay {
		ul > li > a .ion {
			z-index: -1;
			opacity: 0;
		}
	}
}

.mp-menu ul li {
    padding-left: 30px;

	.ion {
		font-size: 44px;
	}
}

.mp-menu ul li > a {
	display: block;
	padding: 27px 0px;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 27px;
    transition: background 0.3s, box-shadow 0.3s;
    color: #3C464B;
}

.mp-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: -1;
	color: rgba(0,0,0,0.2);
	line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-level .mp-back {
	display: inline-block;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
	padding-left: 500px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
	display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
	display: block;
}

.search-btns {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0;

	.btn {
		width: 47%;
		margin: 0 1%;
		font-size: 34px;
		font-weight: 300;
	    line-height: 56px;
	}
}